# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
**/android/.gradle/
**/android/local.properties
**/android/captures/

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner.xcworkspace/

# VS Code
.vscode/

# Environment
.env.local
.env.*.local
!.env.example

# Misc
*.log
*.tmp
